extends layout

block content
	h1= title
	table
		tr 
			td Name
			- each ranking in rankings
				td
					a(href='/ByRanking/'+ranking)= ranking
		- each team in teams
			tr
				td #{team.name}
				- each ranking in rankings
					- if(team.rankings[ranking])
						td #{team.rankings[ranking]["rank"]}
					- else
						td
		